{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">

    {{ if ne .Title "Posts" }}
      <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}

    {{ if in (slice "tech_post") .Section }}
      <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    {{ if .Page.Params.include_toc }}
    {{ partial "toc.html" . }}
    {{ end }}


    <div class="article-content">
      {{ .Content }}
    </div>

    {{ if eq .Title "Posts" }}
      {{ partial "list-of-posts.html" . }}
    {{ end }}

    <ul class="article-taxonomy">
      {{ if .Params.categories }}
      <hr>
      <li>
        <i class="fa fa-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}

      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

  {{ partial "back-to-top.html" . }}

</main>

{{ partial "footer.html" . }}
